
<div class="col-md-6">
<h1>Observances for <%= Date::MONTHNAMES[Date.today.month] %>:</h1>

 
<% observances.each do |observance| %>

  <%= render "observances/show", observance: observance %>

<% end %>

</div>

<div class="col-md-6">
  <%= link_to 'New Observance', new_observance_path if current_user_is_admin? %>
</div>