<div class="col-md-12 text-center">
  <h1>Observances for <%= Date::MONTHNAMES[Date.today.month] %>:</h1>
</div>



 
<% observances.each do |observance| %>

  <div class="col-md-6">
    <%= render "observances/show", observance: observance %>
  </div>
<% end %>



<div class="col-md-6">
  <%= link_to 'New Observance', new_observance_path if current_user_is_admin? %>
</div>