
branchburgdoctors.com is currently undergoing maintenance. Please check back in a few hours.

<%= link_to "Click here for South Branch Family Practice Patient Portal", "https://ipatient.branchburgdoctors.com/patientportal/loginnew.aspx" %>

<h1>Monthly Oservances for <%= Date::MONTHNAMES[Date.today.month] %>:</h1>

<br>

<%= link_to 'New Observance', new_observance_path if current_user_is_admin? %>
