<address class="address">
  <strong>South Branch Family Practice</strong><br>
  48 Robbins Road<br>
  (right off of RT 202/31 South)<br>
  Branchburg, NJ 08876<br>
  <div title="Phone"><strong>Dr. Juliano: (908) 685 - 8080</strong></div>
  <div title="Phone"><strong>Dr. Halper-Erkkila: (908) 526 - 8300</strong></div>
</address>