<div class="service">
  <%= link_to page_path("blood_draw"), class: "thumbnail service-link" do %>
    <%= image_tag "icons/blood_draw_icon_256x256.png", height: 200, width: 200 %>
    
    <div class="service-description text-center">
      Blood Draw available through LabCorp.
    </div>
    
    <h2 class="text-center">Blood Draw</h2>
  <% end %>
  
</div>
