<h1>Dr. Julie Ann Juliano:<h1>

 
<%= image_tag "DrJulieJuliano_No_Bg.png", width: 300, height: 400 %>

<ul>
  <li>Board Certified: Family Practice</li>

  <li>Specialty: Family Medicine</li>

  <li>Medical School: Albert Einstein College of Medicine</li>

  <li>Residency/Fellowship: RWJ University Hospital</li>

  <li>Hospital Affiliation: RWJ University Hospital</li>
  
  <li>Phone Number: (908) 685 - 8080</li>

  <li>Practicing Medicine since: 1989</li>
</ul>

<h2>About Dr. Julie:</h2>

<p>Julie Ann was born and raised in Queens, New York.  In 1980, she graduated from NYU with a BS in Biology and in 1984 she graduated from Albert Einstein College of Medicine with a MD.  She did her internship and residency in Family Practice at Robert Wood Johnson University Hospital (formerly Somerset Medical Center).  Since that time she has been in private practice in Branchburg NJ.</p>

<p>Julie Ann has been married to her husband John for over 25 years and they have 3 daughters.  She has been a member of the Rotary Club of Branchburg since 1992 and was District Governor of District 7510 from 2007-2008.  She was active in the Rolling Hills Girl Scout Council as the Board of Director and Troop Leader for 13 years.  Girl Scouting and Rotary are natural compliments, both promoting high ethical standards, promoting youth development, and service to local and international communities.</p>

<p>Julie Ann continues to grow and develop her practice, and as the healthcare world changes and grows, so too does her practice.</p>