<div class="col-md-12 maintenance">
    <h1>BranchburgDoctors.com is currently undergoing maintenance.</h1>
    <p class="center">Please check back in a few hours.</p>
    
    <p><%= link_to "Click here for the Patient Portal", "https://ipatient.branchburgdoctors.com/patientportal/loginnew.aspx", class: "btn btn-primary btn-lg" %></p>
   
</div>