<div class="service">
  <%= link_to page_path("physicals"), class: "thumbnail service-link" do %>
    <%= image_tag "icons/Stethoscope 256.png", height: 200, width: 200 %>
    
    <div class="service-description text-center">
      What to expect from your recommended Annual Physical Exam.
    </div>
    
    <h2 class="text-center">Physicals</h2>
  <% end %>
  
</div>
