<div class="service">
  <%= link_to page_path("preventive_medicine"), class: "thumbnail service-link" do %>
    <%= image_tag "icons/preventive_maintenance_256x256.png", height: 200, width: 200 %>
    
    <div class="service-description text-center">
      Recommended tests and procedures to catch diseases before they start.
    </div>
    
    <h2 class="text-center">Preventive Medicine</h2>
  <% end %>
  
</div>
