<div class="service">
  <%= link_to page_path("sick_care"), class: "thumbnail" do %>
    <%= image_tag "icons/sick_care_256x256_ver2.png", height: 200, width: 200 %>
    
    <div class="service-description text-center">
      Schedule an appointment for a checkup if you are feeling unwell.
    </div>
    
    <h2 class="text-center">Sick Care</h2>
  <% end %>
  
</div>
