<%= image_tag("icons/facebook-icon.png", height: 200, width: 200) do %>
  <div class="service-description">Recommended tests and procedures: catch diseases before they start.</div>
<% end %>
<h2 class="text-center">Sick Care</h2>