<div class="service">
  <%= link_to page_path("surgery"), class: "thumbnail service-link" do %>
    <%= image_tag "icons/surgery .png", height: 200, width: 200 %>
    
    <div class="service-description text-center">
      Minor Office Surgeries we preform In-House:
    </div>
    
    <h2 class="text-center">Surgery</h2>
  <% end %>
  
</div>