<div class="service">
  <%= link_to page_path("vaccinations"), class: "thumbnail service-link" do %>
    <%= image_tag "icons/vaccines_600x600.png", height: 200, width: 200 %>
    
    <div class="service-description text-center">
      Vaccines given in the Office.
    </div>
    
    <h2 class="text-center">Vaccinations</h2>
  <% end %>
  
</div>
