<div class="row font-lg">
  <div class="col-xs-12 text-center">
    <div class="page-header">
      <h1><i class="fa fa-lg fa-usd black-icon"></i> Billing: <small></small></h1>
    </div>
  </div>
 
  <div class="col-xs-12 col-sm-12 img-col text-center">
    <div class="alert alert-info">
      <h2><i class="fa fa-exclamation-circle"></i> Attention Dr. Juliano's Patients:</h2>

      We now accept Flex-Payment cards as payment
     
      Please remember: bring a copy of your insurance card to every visit so that we can always have the corrdect and updated information.

      For Questions regarding billing, please contact the appropriate number from the selection below.
    </div>
  </div>
 
  <div class="col-xs-12 col-sm-6 text-center">
  
    <h2>Dr. Julie's Patients call:</h2>
   
    Fran
    Phone / Fax:     908-996-0200
    Email:                DrJJBills@aol.com
  </div>
 
  <div class="col-xs-12 col-sm-6 text-center">
    <h2>Dr. Ruby's Patients call:</h2>
    Debbie Medwick:     908-526-8300
   
  </div>
 
  <div class="col-xs-12 text-center">
    <h2>BioReference Billing Questions:</h2>
    <p>908-334-9766</p>
  </div>
  
  <div class="col-xs-12 text-center img-col img-padding">
    
    <a href="#" title="Front Desk at South Branch Family Practice." class="hovertext"><%= image_tag("OfficePictures/Front_desk.JPG", alt: "Sick Care") %></a>
  </div>
</div>