<div class="row ">
  <div class="col-xs-12 text-center">
    <div class="page-header">
      <h1><%= image_tag "icons/blood_draw_icon_256x256.png", height: 50, width: 50, class: "" %> Blood Draw: <small>Available in-house with Laboratory Corporation</small></h1>
    </div>
  </div>
  
  <div class="col-xs-12 text-center">

<h2>Phlebotomist: blood draw available via Laboratory Corporation.</h2>

  <div class="col-xs-12 col-sm-6">
    <label for="blood-draw-hours">LabCorp Hours:</label>
    <div class="table-responsive blood-draw-hours">
     <table class="table table-condensed table-hover">
       <thead>
         <tr>
           <th>Day</th>
           <th>&nbsp &nbsp &nbsp &nbsp Daytime Hours</th>
           <th>&nbsp &nbsp Night Hours</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <th scope="row"> M:</th>
           <td>08:00AM - 12:30PM</td>
           <td>01:00PM - 03:30PM</td>
         </tr>
         <tr>
           <th scope="row">T:</th>
           <td>08:00AM - 12:30PM</td>
           <td>01:00PM - 03:30PM</td>
         </tr>
         <tr>
           <th scope="row">W:</th>
           <td>8:00AM- 11:30PM</td>
           <td>Closed</td>
         </tr>
         <tr>
           <th scope="row">Th:</th>
           <td>08:00AM - 12:30PM</td>
           <td>01:00PM - 03:30PM</td>
         </tr>
         <tr>
           <th scope="row">F:</th>
           <td>08:00AM - 12:30PM</td>
           <td>01:00PM - 03:30PM</td>
         </tr>
         <tr>
           <th scope="row">S:</th>
           <td>8:00AM- 11:30PM</td>
           <td>Closed</td>
         </tr>
         <tr>
           <th scope="row">Su:</th>
           <td>Closed</td>
           <td>Closed</td>
         </tr>
       </tbody>
     </table>
     
    </div>
  </div>
  
  <div class="col-xs-12 col-sm-6 img-col">
    <%= image_tag("OfficePictures/Blood_draw_supplies.JPG", alt: "Blood Draw") %>
    <p>Bio Reference Billing Questions Call: (908) 334-9766</p>
  </div>
</div>