<%= content_for :page_title, 'SBFP Home' %>

<div class="row">
  <div class="col-md-12">

    branchburgdoctors.com is currently undergoing maintenance. Please check back in a few hours.

    <%= link_to "Click here for South Branch Family Practice Patient Portal", "https://ipatient.branchburgdoctors.com/patientportal/loginnew.aspx" %>
    
  </div>
</div>

<div class="row">
  <%= render "observances/current_month" %>
</div>

<div class="row">
  <%= render "pages/downloads" %>
</div>

