<div class="row service">
  <div class="col-xs-12 text-center">
    <div class="page-header">
      <h1>Medicare: <small>Attention Medicare Patients</small></h1>
    </div>
  </div>
  
  <div class="col-xs-12 text-center">
    <p class="">What to expect from the Annual Physical Exam:</p>
    
    <ul class="list-group">
      <li class="list-group-item blurb">BMI/Vitals</li>
      <li class="list-group-item blurb">Family/Personal History</li>
      <li class="list-group-item blurb">Obesity screening</li>
      <li class="list-group-item blurb">Depression screening</li>
      <li class="list-group-item blurb">Hearing Screening</li>
      <li class="list-group-item blurb">Vision Screening</li>
      <li class="list-group-item blurb">Osteoporosis Screening</li>
      <li class="list-group-item blurb">Alcohol Screening</li>
      <li class="list-group-item blurb">Smoking  review</li>
      <li class="list-group-item blurb">Prostrate/Breast and Pap Screening</li>
      <li class="list-group-item blurb">Asthma screening ( if applicable )</li>
      <li class="list-group-item blurb">EKG (if applicable)</li>
      
    </ul>
  </div>
  
  <div class="col-xs-12 col-sm-6 font-md">
    <p class="">These are the procedures and screenings needed to make sure you are getting the best preventive care possible.</p>
       
      <p> If your insurance company does not cover one or more of these screenings/procedures, you will be given the chance to opt out of them at the beginning of your office visit. You will be given an ABN form (Advance Beneficiary Notice of Non-coverage). </p> 
    </div>
    
    <div class="col-xs-12 col-sm-6 font-md">
        <p>When you fill these out, you can opt out of the procedure(s) that may not be covered. You should always consult with your doctor before opting out of these important preventative procedures.</p>
        <p>Click here to view the ABN, the document that you will be signing at your Annual Physical Exam.</p>
       
        <p>*As of January 2013,  Medicare does NOT cover the Hearing screening during the annual physical. 
               To find out more contact your Medicare associate or visit the <%= link_to "Medicare website www.Medicare.gov", "http://www.Medicare.gov" %></p>
    </div>
</div>















