<div class="row font-md">
  <div class="col-xs-12 text-center">
    <div class="page-header">
      <h1><%= image_tag "icons/Stethoscope 256.png", height: 50, width: 50, class: "" %> Physicals: <small>What to expect from your recommended Annual Physical Exam.</small></h1>
    </div>
  </div>  
  
  <div class="col-xs-12 col-sm-6 text-center">
    <ul class="list-group">
      <li class="list-item blurb">Osteoporosis Screening</li>
      <li class="list-item blurb">Alcohol Screening</li>
      <li class="list-item blurb">Smoking  review</li>
      <li class="list-item blurb">Prostrate/Breast and Pap Screening</li>
      <li class="list-item blurb">Asthma screening ( if applicable )</li>
      <li class="list-item blurb">EKG (if applicable)</li>
    </ul>
  </div>
    
  <div class="col-xs-12 col-sm-6 text-center">
    <ul class="list-group">
      <li class="list-item blurb">BMI/Vitals</li>
      <li class="list-item blurb">Family/Personal History</li>
      <li class="list-item blurb">Obesity screening</li>
      <li class="list-item blurb">Depression screening</li>
      <li class="list-item blurb">Hearing Screening</li>
      <li class="list-item blurb">Vision Screening</li>
    </ul>
  </div>
  
  <div  class="col-xs-12">
    <p class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> Well Woman Exams include Pap Smears</p>
  </div>
  
  <div  class="col-xs-12">
    <p class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> Well Child Exams are different and do not include all that an Annual Physical Exam does for an adult</p>
    
  </div>
    

  
  <div class="col-xs-12">
    
    <h2>A physical is defined as a wellness exam only:</h2>

    <blockquote>
      <p>Discussions of abnormal blood-work or test findings, changes of medication, and counseling of any kind are not part of the physical exam. These are considered separate visits by the insurance companies, which means it is required that we bill for these services separately.   If we perform any of these tasks during the Annual Physical Exam, this may or may not result in your insurance company requiring us to charge you a co-pay or fee for that part of the visit.</p>
    </blockquote>

    <p>You always have the option of scheduling a separate office visit to have these discussions on a day separate from your physical; we prefer to do this at the same time, however, to save you a trip.</p>
  </div>
</div>