<h1>Physicals: <small>What to expect from the Annual Physical Exam</small></h1>



Room 6

BMI/Vitals
Family/Personal History
Obesity screening
Depression screening
Hearing Screening
Vision Screening
Osteoporosis Screening
Alcohol Screening
Smoking  review
Prostrate/Breast and Pap Screening
Asthma screening ( if applicable )
EKG (if applicable)

*Well Woman Exams include Pap Smears

*Well Child Exams are different and do not include all that an Annual Physical Exam does for an adult
A physical is defined as a wellness exam only.

Room 2

Discussions of Abnormal blood-work, changes of medication, discussions of abnormal findings of tests, and counseling of any kind are not part of the physical exam. These are considered separate visits by the insurance companies.   It is required that we bill for these services separately.   If we perform any of these tasks during the Annual Physical Exam, this may or may not result in your insurance company requiring us to charge you a co-pay or fee for that part of the visit. 

You always have the option of scheduling a separate office visit to have these discussions on a day separate from your physical; we prefer to do this at the same time, however, to save you a trip.