<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1><%= image_tag "icons/preventive_maintenance_256x256.png", height: 50, width: 50, class: "" %> Preventive Medecine: <small>Recommended tests and procedures</small></h1>
    </div>
  </div>
  
  
  
   
  
  <div class="col-xs-12 font-md alert-col">
    
    <div class="alert alert-danger alert-dismissable" role="alert">
      <!-- <a class="close" data-dismiss="alert"><i class="fa fa-minus-circle"></i></a> -->
      <i class="fa fa-exclamation-circle"></i>
      Please Note:  These recommendations are from the Health Board and are subject to change based on your particular health needs and you should always listen to the recommendations of your doctor over the base outline found here or on other websites.</div>
  </div>
  
  <div class="col-xs-12 text-center">
    
  </div>
  <div class="col-xs-12 col-md-6 text-center male-col">
    <h2>Males: Annual Physical Exams</h2>
  
    <ul class="list-group">
      <li class="list-group-item blurb"><strong>Age 18 - 39:</strong> Recommended Physical every 3 years</li>
      <li class="list-group-item blurb"><strong>Age 40+:</strong> Recommended Physical every year</li>
    </ul>
  </div>
  
  <div class="col-xs-12 col-md-6 text-center male-col">
    <h2>Males: Exercise Stress Tests</h2>

    <ul class="list-group">
      <li class="list-group-item blurb"><strong>Age 50 - 75:</strong> Recommended Exercise Stress Test every 5 years</li>
    </ul>
  </div>
  
  <div class="col-xs-12 col-md-6 text-center male-col">
    <h2>Males: PSA</h2>
  
    <ul class="list-group">
      <li class="list-group-item blurb"><strong>Age 50+:</strong> Recommended PSA every year</li>
    </ul>
  </div>
  
  <div class="col-xs-12 col-md-6 text-center female-col">
    <h2>Females: Well Woman Exams</h2>
  
    <ul class="list-group">
      <li class="list-group-item blurb"><strong>Age 18 - 39:</strong> Recommended Well Woman Exam every 2 years</li>
      <li class="list-group-item blurb"><strong>Age 40+:</strong> Recommended Physical Well Woman Exam every year</li>
    </ul>
  </div>
  
  <div class="col-xs-12 col-md-6 text-center female-col">
    <h2>Females: Mammograms </h2>

    <ul class="list-group">
      <li class="list-group-item blurb"><strong>Age 40 - 80:</strong> Recommended Mammogram every year</li>
    </ul>
  </div>
  
  <div class="col-xs-12 col-md-6 text-center female-col">
    <h2>Females: Pap Smears </h2>

    <ul class="list-group">
      <li class="list-group-item blurb"><strong>Age 18 - 80 </strong> Recommended Pap Smear every year</li>
    </ul>
  </div>

  <div class="col-xs-12 col-md-6 text-center female-col">
    <h2>Females: Bone Density Tests</h2>

    <ul class="list-group">
      <li class="list-group-item blurb"><strong>Age 50 - 80 </strong> Recommended Bone Density Test every 2 years</li>
    </ul>
  </div>
 
  <div class="col-xs-12 col-md-6 text-center male-female-col">
   <h2>Males and Females: Pneumococcal Injection</h2>

   <ul class="list-group">
     <li class="list-group-item blurb"><strong>Age 65+:</strong> Recommended Pneumococcal injection every 10 years</li>
   </ul>
  </div>
  
  <div class="col-xs-12 col-md-6 text-center male-female-col">
    <h2>Males and Females: Hearing / Vision Test</h2>

    <ul class="list-group">
      <li class="list-group-item blurb">Recommended tests every year</li>
    </ul>
  </div>
  
  <div class="col-xs-12 col-md-6 text-center male-female-col">
      <h2>Males and Females: EKG's</h2>

      <ul class="list-group">
        <li class="list-group-item blurb"><strong>Age 50+:</strong> Recommended EKG every 2 years</li>
      </ul>
    </div>
  
  <div class="col-xs-12 col-md-6 text-center male-female-col">
    <h2>Males and Females: Colonoscopy</h2>

    <ul class="list-group">
      <li class="list-group-item blurb"><strong>Age 50+:</strong> Recommended Colonoscopy every 5 years</li>
    </ul>
  </div>
</div>