<h1>Preventive Medecine <small>Recommended tests and procedures:  catch diseases before they start.</small></h1>
 


Please Note:  These recommendations are from the Health Board and are subject to change based on your particular health needs and you should always listen to the recommendations of your doctor over the base outline found here or on other websites.

For Adults with NO chronic illnesses:

For Males: Annual Physical Exams
Office Supplies
age 18-39 you should have a Physical every 3 years
age 40-100+ you should have a physical every year
For Females: Well Woman Exams

age 18-39 you should have a Well Woman Exam every 2 years
age 40-100+ you should have a Well Woman Exam every year
For Females: Mammograms
Office Supplies
age 40 - 80 you should have a Mammogram every year
For Females: Pap Smears

age 18 -80 you should have a Pap Smear every year
For Females: Bone Density Tests

age 50-80 you should have a Bone Density Test every 2 years
For Males and Females: EKG's

age 50-100 you should have an EKG every 2 years
For Males:  Exercise Stress Tests

age 50 - 75 you should have an Exercise Stress Test every 5 years
For Males: PSA test

age 50 - 99 you should have a PSA done once a year
For Males and Females: Pneumococcal Injection

age 65 - 100+ you should get the Pneumococcal injection every 10 years