<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1>Preventive Medecine <small>Recommended tests and procedures: catch diseases before they start.</small></h1>
    </div>
  </div>
  
  <div class="col-xs-12 font-md">
    <h2 class="">For Adults with NO chronic illnesses:</h2>
    <p>Please Note:  These recommendations are from the Health Board and are subject to change based on your particular health needs and you should always listen to the recommendations of your doctor over the base outline found here or on other websites.</p>
  </div>
  
  <div class="col-xs-12 text-center">
    
  </div>
  <div class="col-xs-12 col-md-6 text-center">
    <h2>Males: Annual Physical Exams</h2>
  
    <ul class="list-group">
      <li class="list-group-item blurb"><strong>Age 18-39:</strong> Recommended Physical every 3 years</li>
      <li class="list-group-item blurb"><strong>Age 40-100+:</strong> Recommended Physical every year</li>
    </ul>
  </div>
  
  <div class="col-xs-12 col-md-6 text-center">
    <h2>Females: Well Woman Exams</h2>
  
    <ul class="list-group">
      <li class="list-group-item blurb"><strong>Age 18-39:</strong> Recommended Well Woman Exam every 2 years</li>
      <li class="list-group-item blurb"><strong>Age 40-100+:</strong> Recommended Physical Well Woman Exam every year</li>
    </ul>
  </div>
  <div class="col-xs-12 col-md-6 text-center">
    <h2>Females: Mammograms </h2>

    <ul class="list-group">
      <li class="list-group-item blurb"><strong>Age 40 - 80:</strong> Recommended Mammogram every year</li>
    </ul>
  </div>
  
  <div class="col-xs-12 col-md-6 text-center">
    <h2>Females: Pap Smears </h2>

    <ul class="list-group">
      <li class="list-group-item blurb"><strong>Age 18 - 80 </strong> Recommended Pap Smear every year</li>
    </ul>
  </div>

  <div class="col-xs-12 col-md-6 text-center">
    <h2>Females: Bone Density Tests</h2>

    <ul class="list-group">
      <li class="list-group-item blurb"><strong>Age 50 - 80 </strong> Recommended Bone Density Test every 2 years</li>
    </ul>
  </div>

  <div class="col-xs-12 col-md-6 text-center">
    <h2>Males and Females: EKG's</h2>

    <ul class="list-group">
      <li class="list-group-item blurb"><strong>Age 50 - 100:</strong> Recommended EKG every 2 years</li>
    </ul>
  </div>

  <div class="col-xs-12 col-md-6 text-center">
    <h2>Males: Exercise Stress Tests</h2>

    <ul class="list-group">
      <li class="list-group-item blurb"><strong>Age 50 - 75:</strong> Recommended Exercise Stress Test every 5 years</li>
    </ul>
  </div>
 
  For Males: PSA test

  age 50 - 99 you should have a PSA done once a year
  For Males and Females: Pneumococcal Injection

  age 65 - 100+ you should get the Pneumococcal injection every 10 years   
  </div>
</div>