<div class="row">
  <div class="col-md-12">
    <h1>Referral Policy:</h1>
  </div>
  
  <div class="col-md-12">
    <p>
      If you need a referral and have not been seen at the office, you need to schedule an appointment prior to being seen by the specialist.
    </p>
    <p>
      We cannot backdate referrals for any reason - it is against Insurance Policy.
  You need to be aware of how many visits you have on your referral and when they expire.
  We require 48 hours notice if a new referral is needed in order to provide the best care possible.
  Inquire with the practice if the specialist can get a referral via NAVINET or their internet provider.
  Do to new HIPAA laws, we are no longer able to fax referrals - it is your responsibility to make sure all the paperwork is done in a timely manner. You will be asked to pick up your referral if your specialist cannot access it via the internet.
    </p>
    <p>
      If you go to your appointment without a referral, you may be asked to reschedule your appointment; Make sure you have all your paperwork in order before you go see your specialist.
  To contact the referral desk at the office - Call the phone number corresponding to your doctor and ask for Joann:
    </p>
  </div>
  


  Dr. Juliano                   908-685-8080
  Dr. Halper-Erkkila            908-526-8300
</div>
