<div class="row font-lg">
  <div class="col-xs-12 text-center">
    <div class="page-header">
      <h1><%= image_tag "icons/sick_care_256x256_ver2.png", height: 50, width: 50, class: "" %> Sick Care: <small>Schedule an appointment for a checkup if you are feeling unwell.</small></h1>
    </div>
  </div>
  
  <div class="col-xs-12 col-sm-12 img-col text-center">
    <p>More info coming soon!</p>
    
  </div>
  
  <div class="col-xs-12 text-center img-col img-padding">
    <%= image_tag("OfficePictures/Office_supplies.JPG", alt: "Sick Care") %>
    
  </div>
</div>