<h1>Surgery</h1>

<h2>Minor Office Surgeries we preform In-House:</h2>
<ul>
  <li>Lumps and bumps</li>
  <li>Suture lacerations</li>
  <li>Warts </li>
  <li>Ingrown toenails</li>
  <li>Skin tags and moles</li>
  <li>Hemorrhoids</li>
  <li>Drainage of boils</li>
  <li>Cryo surgery</li>
  <li>Minor biopsies</li>
</ul>