<div class="row text-center">
  <div class="col-xs-12">
    <div class="page-header">
      <h1>Surgery: <small>Minor Office Surgeries we preform In-House:</small></h1>
    </div>
    
    <ul class="list-group">
      <li class="list-group-item">Lumps and bumps</li>
      <li class="list-group-item">Suture lacerations</li>
      <li class="list-group-item">Warts </li>
      <li class="list-group-item">Ingrown toenails</li>
      <li class="list-group-item">Skin tags and moles</li>
      <li class="list-group-item">Hemorrhoids</li>
      <li class="list-group-item">Drainage of boils</li>
      <li class="list-group-item">Cryo surgery</li>
      <li class="list-group-item">Minor biopsies</li>
    </ul>
  </div>
</div>


