<div class="row text-center font-md">
  <div class="col-xs-12">
    <div class="page-header">
      <h1><%= image_tag "icons/surgery .png", height: 50, width: 50, class: "" %>Surgery: <small>Minor Office Surgeries we preform In-House:</small></h1>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">    
    
    <ul class="list-group">
      <li class="list-group-item blurb">Hemorrhoids</li>
      <li class="list-group-item blurb">Drainage of boils</li>
      <li class="list-group-item blurb">Cryo surgery</li>
      <li class="list-group-item blurb">Minor biopsies</li>
      <li class="list-group-item blurb">&nbsp</li>
    </ul>
  </div>
  
  <div class="col-xs-12 col-sm-6">    
    
    <ul class="list-group">
      <li class="list-group-item blurb">Lumps and bumps</li>
      <li class="list-group-item blurb">Suture lacerations</li>
      <li class="list-group-item blurb">Warts </li>
      <li class="list-group-item blurb">Ingrown toenails</li>
      <li class="list-group-item blurb">Skin tags and moles</li>
    </ul>
  </div>
  
</div>





