<div class="row font-lg">
  <div class="col-xs-12 text-center">
    <div class="page-header">
      <h1><%= image_tag "icons/vaccines_600x600.png", height: 50, width: 50, class: "" %> Vaccinations: <small>Given in-house</small></h1>
    </div>
  </div>
  <div class="col-xs-12 text-center">
    <p class="">Log into your <%= link_to "patient portal", ENV["PATIENT_PORTAL_URL"] %> account to review your vaccination history:</p>
  </div>
  
  <div class="col-xs-12 col-sm-6">    
    <ul class="list-group text-center">
      <li class="list-group-item blurb"><button type="button" class="btn-link" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="click hover focus" data-content="Adacel is a vaccine indicated for active booster immunization against tetanus, diphtheria and pertussis. Adacel vaccine is approved for use as a single dose in individuals 10 through 64 years of age.">Adacel</button></li>
      
      <li class="list-group-item blurb">DT</li>
      <li class="list-group-item blurb">DTAP</li>
      <li class="list-group-item blurb">HEP A</li>
      <li class="list-group-item blurb">HEP B</li>
      <li class="list-group-item blurb">HIB</li>
      <li class="list-group-item blurb">High dose</li>
      <li class="list-group-item blurb">HPV (Gardasil)</li>
      <li class="list-group-item blurb">Influenza</li>  
    </ul>
  </div>
  
  <div class="col-xs-12 col-sm-6 text-center">
    
    <ul class="list-group">
      <li class="list-group-item blurb">IPV</li>
      <li class="list-group-item blurb">Menactra</li>
      <li class="list-group-item blurb">MMR</li>
      <li class="list-group-item blurb">OPV</li>
      <li class="list-group-item blurb">PVC (Prevnar)</li>
      <li class="list-group-item blurb">Pneumovax</li>
      <li class="list-group-item blurb">Shingles</li>
      <li class="list-group-item blurb">Varicella</li>
      <li class="list-group-item blurb">Vivotif (Typhoid)</li>
    </ul>
  </div>
</div>