<h1>Vaccinations given in the Office:</h1>

Log into your patient portal account to review your vaccination history.
Adacel
DT
DTAP
HEP A
HEP B
HIB
High dose
HPV (Guardacil)
Influenza
IPV
Menactra
MMR
OPV
PVC (Prevnar)
Pneumovax
Shingles
Vari
cella
Vivotif (Typhoid)